<!DOCTYPE html>
<html>
<head>
    <title>Unique Fruits</title>
</head>
<body>
    <h1>Unique Fruits in Basket A</h1>
    <table>
        <tr>
            <th>Fruit</th>
        </tr>
        {% for fruit in unique_fruits_a %}
            <tr>
                <td>{{ fruit[0] }}</td>
            </tr>
        {% endfor %}
    </table>

    <h1>Unique Fruits in Basket B</h1>
    <table>
        <tr>
            <th>Fruit</th>
        </tr>
        {% for fruit in unique_fruits_b %}
            <tr>
                <td>{{ fruit[0] }}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>
